* {
  font-family: Georgia;
}

.main {
  background-color: rgb(238, 237, 235);
}

h1 {
  font-size: calc(3.6vw + 1rem);
}

.lead {
  font-size: calc(.6vw + 1rem);
}

p {
  font-size: calc(.24vw + 1rem);
}

.nav-item {
  font-size: 1.5rem;
}

.nav-item.active {
  text-decoration: underline;
}

.social-link {
  display: inline-block;
  color: black;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  width: 3rem;
  text-align: center;
  margin: 0px 5px 0px 5px;
}

.quote {
  font-size: calc(1.3vw + 1rem);
  margin: 3rem 0 3rem;
  border-left: 5px solid #BDBDBD;
  padding-left: 1rem;
}

.erratum {
  font-size: calc(1vw + 1rem);
  margin-bottom: 1rem;
  margin-left: 2rem;
}
